@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-size: cover;
  background-position: center;
}

.testimonial-card {
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

/* Initially hide the menu */
#mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  /* Adjust timing as needed */
}

/* Class to show the menu */
#mobile-menu.show {
  margin-top: 20px;
  max-height: 300px;
  /* Set to a value large enough for your content */
}

footer input#emailInput:focus-visible {
  outline: none;
  border: none;
}

footer form#subscribeForm:focus-within {
  border: 2px solid yellow;
}

section#faq .accordion-content {
  max-height: none;
  /* overflow: hidden; */
  transition: all 0.4s ease-out;
  /* Adjust timing as needed */
  display: none;
}

section#faq .accordion-content.show {
  max-height: fit-content;
  display: block;
}

/* Back to Top Button Style */
#backToTopBtn {
  display: none;
  /* Initially hidden */
  opacity: 0;
  /* For smooth fade-in/out */
  transition: opacity 0.3s ease;
}

#backToTopBtn.show {
  display: inline-block;
  opacity: 1;
}

#backToTopBtn:hover {
  background-color: #2563eb;
  /* Darker blue on hover */
}
