@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/akrobat");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

.hero {
  background-size: cover;
  background-position: center;
}

nav a.active {
  @apply text-logo-tertiary;
}

.testimonial-card {
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

/* Initially hide the menu */
#mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  /* Adjust timing as needed */
}

/* Class to show the menu */
#mobile-menu.show {
  margin-top: 20px;
  max-height: 300px;
  /* Set to a value large enough for your content */
}

footer input#emailInput:focus-visible {
  outline: none;
  border: none;
}

footer form#subscribeForm:focus-within {
  border: 2px solid yellow;
}

section#faq .accordion-content {
  max-height: none;
  /* overflow: hidden; */
  transition: all 0.4s ease-out;
  /* Adjust timing as needed */
  display: none;
}

section#faq .accordion-content.show {
  max-height: fit-content;
  display: block;
}

/* Back to Top Button Style */
#backToTopBtn {
  display: none;
  /* Initially hidden */
  opacity: 0;
  /* For smooth fade-in/out */
  transition: opacity 0.3s ease;
}

#backToTopBtn.show {
  display: inline-block;
  opacity: 1;
}

#backToTopBtn:hover {
  background-color: #2563eb;
  /* Darker blue on hover */
}
